<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:lcz="http://schema.lcz.cn/lcz/schema/lcz"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-4.1.xsd
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
						http://schema.lcz.cn/lcz/schema/lcz
						http://schema.lcz.cn/lcz/schema/lcz.xsd">

    <context:annotation-config/>

    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>

    <aop:aspectj-autoproxy/>

    <lcz:redis id="redisConfig" address="192.168.1.7" auth="redis" database="2"/>

    <context:component-scan base-package="cn.lcz.daemon.quartz cn.lcz.daemon.kafka"/>

</beans>
