<div ng-controller="SaleSearchController">
    <div>
        <table height="100px">
            <tr>
                <td> 销售姓名：</td>
                <td width="200"><input type="text" ng-model="userName" class="form-control w180" placeholder="请输入姓名"/>
                </td>
                <td> 手机号：</td>
                <td width="200"><input type="text" ng-model="mobile" class="form-control w180" placeholder="请输入手机号"/>
                </td>
                <td>
                    <button class="btn btn-default" ng-click="querySaler()">查询</button>
                </td>
            </tr>
        </table>
    </div>

    <div class="body-box">
        <table>
            <tr ng-repeat="item in salers" ng-click="queryList2(item)">
                <td>
                    {{item.userName }}
                </td>
                <td>
                    {{item.mobile}}
                </td>
            </tr>
        </table>
    </div>
    <br/>
    一共售卡{{cardList.totalElements}}张，总金额{{cardList.totalPrice}}元
    <div>
        <table-box jy-page-data="cardList" jy-query-params="param"
                   jyf-query="queryList()" jya-auto-query="false" jy-execute-query="executeQuery">
            <div style="width: calc(100% - 100px);float: right;">
                <div class="head-box">
                    <table>
                        <tr>
                            <th width="150">
                                <strong>卡号</strong>
                            </th>
                            <th width="150">
                                <strong>卡面值</strong>
                            </th>
                            <th width="150">
                                <strong>售卡日期</strong>
                            </th>
                            <th width="150">
                                <strong>卡状态</strong>
                            </th>
                            <th width="150">
                                <strong>剩余次数</strong>
                            </th>
                            <th width="150">
                                <strong>返佣</strong>
                            </th>
                        </tr>
                    </table>
                </div>
                <div class="body-box">
                    <table>
                        <tr ng-repeat="item in cardList.content track by $index">
                            <td>
                                <td-limit-span jy-text="item.cardNo"></td-limit-span>
                            </td>
                            <td>
                                {{item.cardType | CardTypeFilter}}
                            </td>
                            <td>
                                {{item.tradeTime | date:'yyyy-MM-dd'}}
                            </td>
                            <td>
                                {{item.cardStatus | CardStatusFilter}}
                            </td>
                            <td>
                                {{item.currentCount}}
                            </td>
                            <td>
                                {{item.reward}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div style="width: 100px;float:left;">
                <div class="left-head-box">
                    <table>
                        <tr>
                            <th width="100">
                                <strong>序号</strong>
                            </th>
                        </tr>
                    </table>
                </div>
                <div class="left-body-box">
                    <table>
                        <tr ng-repeat="item in cardList.content track by $index">
                            <td>
                                {{$index+1}}
                            </td>
                        </tr>
                        <tr style="height: 20px;"></tr>
                    </table>
                </div>
            </div>
        </table-box>
    </div>
</div>
