<div ng-controller="TabController">
    <ul class="nav nav-tabs">
        <li>
            <span>Section 1</span>
        </li>
        <li>
            <span>Section 1</span>
        </li>
        <li>
            <span>Section 1</span>
        </li>
        <li class="active">
            <span>Section 1</span>
        </li>
        <li>
            <span>Section 1</span>
        </li>
        <li>
            <span>Section 1</span>
        </li>
        <li>
            <span>Section 1</span>
        </li>
    </ul>
</div>
