<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="../../img/favicon.ico" mce_href="../../img/favicon.ico" type="image/x-icon">
    <title>健医科技 - 登录</title>
    <!-- build:css ../../css/common.min.css -->
    <link rel="stylesheet" type="text/css" href="../../css/module/common.css"/>
    <!-- /build -->
    <!-- build:css ../../css/login.min.css -->
    <link rel="stylesheet" type="text/css" href="../../css/module/login.css"/>
    <!-- /build -->
</head>

<body ng-controller="IndexController" class="ng-cloak" style="background-color: #364150;">
&nbsp;
<div ng-view class="view-slide-in"></div>
<script src="../../js/core/main-init.js"></script>
<!-- build:js ../../js/login.min.js -->
<script data-main="../../js/app/login/main.js" src="../../js/plugins/requirejs/require.js"></script>
<!-- /build -->

</body>

</html>
