<div ng-controller="ButtonController">
    <button class="btn btn-default">
        <span class="icon-search"></span>查找
    </button>
    <button class="btn btn-primary">
        <span class="icon-save"></span>提交
    </button>
    <button class="btn btn-danger">
        <span class="icon-remove"></span>删除
    </button>
    <button class="btn btn-warning">
        <span class="icon-warning-sign"></span>警告
    </button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-link">Link</button>
</div>
