<div class="modal" ng-controller="OpenModalController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()">
                    ×
                </button>
                <h4 class="modal-title">
                    <span class="icon-comment-alt"></span>
                    模态框
                </h4>
            </div>
            <div class="modal-body">
                123<br>
                123<br>
                123<br>
                123<br>
                123<br>
                123<br>
                123<br>
                123<br>
                123<br>
                123<br>
                123<br>
                123<br>
                123<br>
                123<br>
                123<br>
                123<br>
                123<br>
                123<br>
                123<br>
                123<br>
                123<br>
                123<br>
                123<br>
                123<br>
                123<br>
                123<br>
                123<br>
                123<br>
                123<br>
                123<br>
                123<br>
                123<br>
                123<br>
                123<br>
                123<br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="alert()">OK</button>
            </div>
        </div>
    </div>
</div>